.line {
	margin: 20px 0;
	height: 0;
	border: none;
	border-top: 6px solid darkgreen;
	border-radius: 50px;
}

.round-img {
	border-radius: 360px;
    border: 6px solid darkgreen;
    box-shadow: 0 0 75px black;
}

.background {
	background: url(itachi.gif) no-repeat;
	background-size: cover;
	padding:0;
    margin:0;
}

body {
	background: #202020;
	margin: 0;
	padding: 0;
}

.div-con {
	margin: 0 auto;
	width: 15%;
	border-left: 5px solid darkgreen;
	border-right: 5px solid darkgreen;
	border-radius: 4px;
}

a {
  color: transparent !important;
  text-decoration: none
}

