.line {
	margin: 20px 0;
	height: 0;
	border: none;
	border-top: 6px solid red;
	border-radius: 50px;
}
.thin-line {
	margin: 20px 0;
	height: 0;
	border: none;
	border-top: 1px solid red;
	border-radius: 50px;
}

.round-img {
	border-radius: 360px;
    border: 6px solid red;
    box-shadow: 0 0 75px black;
}

.background {
	background: url(default.gif) no-repeat;
	background-size: cover;
	padding:0;
  margin:0;
}

body {
	background: #202020;
	margin: 0;
	padding: 0;
}

.icon {
	border: 2px solid red;
	border-radius: 30px;
}

a {
  color: white !important;
  text-decoration: none
}

.image{
  color: transparent !important;
  text-decoration: none
}

